body {
  overflow-x: hidden;
}

.nav-title {
  color: #16254c !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px !important; /* Default font size for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-title {
    font-size: 24px !important; /* Adjust font size for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-title {
    font-size: 31px !important; /* Adjust font size for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-title {
    font-size: 36px !important; /* Adjust font size for extra large screens */
  }
}

.nav-logo {
  height: 30px !important; /* Default height for mobile */
  width: 28.75px !important; /* Default width for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-logo {
    height: 40px !important; /* Adjust height for tablets */
    width: 38.75px !important; /* Adjust width for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-logo {
    height: 50px !important; /* Adjust height for large screens */
    width: 48.75px !important; /* Adjust width for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-logo {
    height: 60px !important; /* Adjust height for extra large screens */
    width: 58.75px !important; /* Adjust width for extra large screens */
  }
}

.sign-up-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600 !important;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #f2cc15 !important;
  font-family: "Quicksand", sans-serif !important;
  border-color: #f2cc15 !important;
  color: #16254c !important;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up-button:hover {
  background-color: #f2cc15 !important;
}

.terms {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

p {
  color: #373956;
}

.page-title {
  color: #373956;
}
