/* Home.css */
.home-gradient-background-section1 {
  background: linear-gradient(
    252.91deg,
    rgba(242, 204, 21, 0.1) -111.77%,
    #f6f6f6 29.65%
  );
  padding: 50px 0;
}

.home-container-section1,
.home-container-section2 {
  padding: 0;
}

@media (min-width: 768px) {
  .home-container-section1,
  .home-container-section2 {
    padding: 1.5rem;
  }
}

.home-text-title-section1 {
  color: #16254c;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
}

@media (min-width: 768px) {
  .home-text-title-section1 {
    font-size: 31px;
  }
}

@media (min-width: 992px) {
  .home-text-title-section1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .home-text-title-section1 {
    font-size: 52px;
  }
}

.home-text-section1 {
  color: #13234b;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  .home-text-section1 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .home-text-section1 {
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  .home-text-section1 {
    font-size: 28px;
  }
}

.home-image-section1,
.home-image-section2,
.home-image-section3 {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-text-title-section2 {
  color: #08110c;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

@media (min-width: 768px) {
  .home-text-title-section2 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .home-text-title-section2 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .home-text-title-section2 {
    font-size: 46px;
  }
}

.home-text-section2 {
  color: #13234b;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

@media (min-width: 768px) {
  .home-text-section2 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .home-text-section2 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .home-text-section2 {
    font-size: 25px;
  }
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-mission-section1 {
  color: #27563a;
  font-weight: 600;
  font-size: 20px;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.overlay-card {
  background: linear-gradient(
    335.77deg,
    rgba(255, 255, 255, 0.6) -12.34%,
    rgba(255, 255, 255, 0) 223.99%,
    rgba(255, 255, 255, 0.234757) 223.99%
  );
  opacity: 0.9;
  border: none;
}

@media (max-width: 767px) {
  .card-container {
    width: 95%;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay-card {
    background: rgba(255, 255, 255, 0.9);
  }

  .home-image-section3 {
    height: 300px !important;
  }
}

.image-container {
  position: relative;
}

.home-image-section3 {
  display: block;
  position: relative;
}
