.home-gradient-background-section1 {
  background: linear-gradient(
    252.91deg,
    rgba(242, 204, 21, 0.1) -111.77%,
    #f6f6f6 29.65%
  );
  padding: 50px 0;
}

/* Small devices (mobiles) */
.home-container-section1,
.home-container-section2 {
  padding: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-container-section1,
  .home-container-section2 {
    padding: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-container-section1,
  .home-container-section2 {
    padding: 1.5;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-container-section1,
  .home-container-section2 {
    padding: 1.5;
  }
}

/* Small devices (mobiles) */
.home-text-title-section1 {
  color: #16254c;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-text-title-section1 {
    font-size: 31px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-text-title-section1 {
    font-size: 42px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-text-title-section1 {
    font-size: 52px;
  }
}

/* Small devices (mobiles) */
.home-text-section1 {
  color: #13234b;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-text-section1 {
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-text-section1 {
    font-size: 23px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-text-section1 {
    font-size: 28px;
  }
}

.home-image-section1 {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-image-section1 {
  width: 350px;
  }
}

.home-image-section2 {
  width: 630px;
  height: 400px;
  border-radius: 10px;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .home-container-left-section2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .home-container-left-section2 {
    display: flex;
  }
}

/* Small devices (mobiles) */
.home-text-title-section2 {
  color: #08110c;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-text-title-section2 {
    font-size: 25px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-text-title-section2 {
    font-size: 36px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-text-title-section2 {
    font-size: 46px;
  }
}

/* Small devices (mobiles) */
.home-text-section2 {
  color: #13234b;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-text-section2 {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-text-section2 {
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-text-section2 {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .home-right-container-section2 {
  position: relative;
  left: 200px
  }
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-mission-section1 {
  color: #27563a;
  font-weight: 600;
  font-size: 20px;
}
