/* Footer.css */
.firstFooter{
  margin: 0rem 5rem;
}
.nav-logo {
  height: 30px; /* Default height for mobile */
  width: 28.75px; /* Default width for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-logo {
    height: 40px; /* Adjust height for tablets */
    width: 38.75px; /* Adjust width for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-logo {
    height: 50px; /* Adjust height for large screens */
    width: 48.75px; /* Adjust width for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-logo {
    height: 60px; /* Adjust height for extra large screens */
    width: 58.75px; /* Adjust width for extra large screens */
  }
}

.nav-title {
  color: #373956;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px; /* Default font size for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-title {
    font-size: 24px; /* Adjust font size for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-title {
    font-size: 31px; /* Adjust font size for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-title {
    font-size: 36px; /* Adjust font size for extra large screens */
  }
}

.footer-text-section1 {
  font-size: 16px;
  font-weight: 400;
}

.footer-newsletter-title {
  font-size: 20px;
  font-weight: 500;
}

.footer-link-title {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.footer-link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .d-flex {
    flex-direction: column !important;
  }

  .me-2 {
    margin-bottom: 1rem !important;
  }
  .firstFooter{
    margin: 0rem 0rem !important;
  }
}
