body {
  overflow-x: hidden;
}

.custom-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.nav-title {
  color: #16254c !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px !important; /* Default font size for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-title {
    font-size: 24px !important; /* Adjust font size for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-title {
    font-size: 31px !important; /* Adjust font size for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-title {
    font-size: 36px !important; /* Adjust font size for extra large screens */
  }
}

.nav-logo {
  height: 30px !important; /* Default height for mobile */
  width: 28.75px !important; /* Default width for mobile */
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .nav-logo {
    height: 40px !important; /* Adjust height for tablets */
    width: 38.75px !important; /* Adjust width for tablets */
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .nav-logo {
    height: 50px !important; /* Adjust height for large screens */
    width: 48.75px !important; /* Adjust width for large screens */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up) */
  .nav-logo {
    height: 60px !important; /* Adjust height for extra large screens */
    width: 58.75px !important; /* Adjust width for extra large screens */
  }
}

.terms {
  font-weight: 700;
  cursor: pointer;
  color: #373956;
  text-decoration: none;
}

.new-user-link {
  font-weight: 700;
  cursor: pointer;
  color: #373956;
}

.page-title {
  color: #373956;
  font-size: 18px;
  font-weight: 700;
}

.form-description {
  font-weight: 700;
  font-size: 16px;
}